.mapping-table {
  width: 100%;
  margin-top: 0px;
}

.mapping-table-div{
  margin-top: 50px;
}

.mapping-row-header {
  border: 1px solid black;
  height: 40px;
  background: #699;
  width: 80%;
}

.mapping-row {
  border: 1px solid black;
  height: 35px;
}

.mapping-header {
  background-color: rgb(204, 204, 204);
  border: 2px solid black;
  min-width: 300px;
}

.mapping-column-name {
  background-color: rgb(238, 238, 238);
  padding-left: 10px;
  border: 1px solid black;
}

.mapping-data-element {
  background-color: rgb(238, 238, 238);
  padding: 5px;
}

.mapping-input {
  width: 100%;
  padding: 0;
  border: 1px solid black;
  height: 30px;
}

.filtered-tables {
  margin-left: 170px;
  font-family: 'sans-serif';
  background-color: '#e4e3e375';
  color: '#000000bd';
}

.table-name {
  padding-top: 5px;
  font-size: 17px;
}

.table-input {
  width: 430px;
  height: 38px;
  padding-left: 5px;
  border: 1px solid black;
  font-size: 17px;
  margin-top: 5px;
}

.mapping-div{
  margin-top: 50px;
  margin-left: 150px;
}

.add-mapping-button{
  width: 150px;
  margin-left: 450px;
  margin-top: 80px;
  color: #fff;
  background-image: linear-gradient(#a1d030, #88af28);
  background-position-x: initial;
  background-position-y: initial;
  background-size: initial;
  background-attachment: initial;
  background-origin: initial;
  background-clip: initial;
  background-color: #88af28;
  border: 1px solid #88af28;
  padding: 5px 0;
}

.section-title{
  font-family: OpenSans,Arial,sans-serif;
  padding: 10px;
  margin-top: 0;
  margin-bottom: 0;
  color: #FFF;
  font-size: 16px;
  clear: both;
  background: #699;
  position: relative;
  border-radius: 2px 2px 0 0;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.mapping-names-table{
  width: 600px;
}

.all-mappings-sections {
  margin: 10px 0 15px;
  width: 600px;
  font-size: 14px;
  position: relative;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
  border: 1px solid #699;
  border-radius: 5px 5px 0 0;
  background: #fff;
}

.mapping-name{
  width: 300px;
  padding: 5px 15px;
  border: 1px solid #dddddd;
}

.edit-mapping-button{
  padding: 5px 100px;
  border: 1px solid #dddddd;
}

.plus-sign{
  font-size: 20px;
}

.table-row:nth-child(even){
  background: #f3f3f3;
}