.mapping-table {
  width: 100%;
  margin-top: 0;
  table-layout: fixed;
}

.title-name {
  padding: 10px;
  text-align: center;
}

.title-comments {
  padding: 10px;
  text-align: center;
}

.title-comments::after {
  color: red;
  content: "*";
  padding-left: 5px;
}

.column-mapping-section {
  margin: 10px 0 15px;
  position: relative;
  box-shadow: 0 1px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
  border: 1px solid #699;
  border-radius: 3px;
  background: #fff;
}

.mapping-table-div{
  margin-top: 30px;
}

.mapping-row-header {
  height: 40px;
  background: #699;
  width: 80%;
  font-family: OpenSans,Arial,sans-serif;
  color: #FFF;
  font-size: 16px;
  position: relative;
}

.mapping-row {
  border: 1px solid #dddddd;
  height: 35px;
}

.mapping-header {
  border: 1px solid #699;
  min-width: 300px;
}

.mapping-column-name {
  padding-left: 10px;
  border: 1px solid #dddddd;
}

.mapping-data-element {
  padding: 5px;
}

.mapping-input {
  width: 100%;
  padding: 0;
  border: 1px solid #dddddd;
  height: 30px;
}

.filtered-tables {
  width: 450px;
  max-height: 150px;
  overflow-y: auto;
  overflow-x: hidden;
  z-index: 10001;
  color: #333;
  font-family: Trebuchet MS,Tahoma,Verdana,Arial,sans-serif;
  font-size: 0.7em;
  list-style: none;
  display: block;
  outline: none;
  position: absolute;
  cursor: default;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.table-name {
  font-size: 16px;
  margin: 0;
  width: 100%;
  text-decoration: none;
  display: block;
  padding: 2px .4em;
  line-height: 1.5;
  min-height: 0;
  font-weight: normal;
  color: #333;
  background: #eee url(images/ui-bg_highlight-soft_100_eeeeee_1x100.png) 50% top repeat-x;
  &:hover {
    cursor: pointer;
    color: #E8A000;
    background: #FFFDF0;
    border: 1px solid #FFA000;
  }
}

.table-input {
  width: 450px;
  padding: 5px 15px;
  border: 1px solid #dddddd;
  display: block;
  margin: 10px 0 0 0;
  border-radius: 5px;
  font-size: 16px;
}

.mapping-div{
  margin: 5% 10%;
}

.add-mapping-button{
  width: 150px;
  margin-left: -330px;
  margin-top: 80px;
  color: #fff;
  background-image: linear-gradient(#a1d030, #88af28);
  background-position-x: initial;
  background-position-y: initial;
  background-size: initial;
  background-attachment: initial;
  background-origin: initial;
  background-clip: initial;
  background-color: #88af28;
  border: 1px solid #88af28;
  padding: 5px 0;
}

.section-title{
  font-family: OpenSans,Arial,sans-serif;
  padding: 10px 25px;
  margin-top: 0;
  margin-bottom: 0;
  color: #FFF;
  font-size: 16px;
  clear: both;
  background: #699;
  position: relative;
  border-radius: 2px 2px 0 0;
  text-align: left;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.mapping-names-table{
  width: 650px;
}

.all-mappings-sections {
  margin: 10px 0 15px;
  font-size: 14px;
  position: relative;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
  border: 1px solid #699;
  border-radius: 5px 5px 0 0;
  background: #fff;
}

.mapping-name{
  padding: 5px 15px 5px 25px;
  text-align: left;
}

.mapping-name-input {
  width: 350px;
  padding: 5px 15px;
  border: 1px solid #dddddd;
  display: block;
  margin: 10px 0 0 0;
  border-radius: 5px;
}

.edit-mapping-button{
  padding: 5px 5%;
}

.plus-sign{
  font-size: 20px;
}

.table-row:nth-child(even){
  background: #f3f3f3;
}

.footer {
  background: #f3f3f3;
  height: 90px;
}

.save {
  float: right;
  margin: 30px 30px 30px 0;
  border: 1px solid #88af28;
  padding: 5px 0;
  width: 80px;
  color: #fff;
  background-image: linear-gradient(#a1d030, #88af28);
}

.cancel {
  float: right;
  margin: 30px;
  border: 1px solid #dddddd;
  padding: 5px 0;
  width: 80px;
  color: black;
  background-image: linear-gradient(#dddddd, #f3f3f3);
}

.mapper{
  margin: 25px 0;
}

.edit-button {
  border-radius: 3px;
  background: #ddd linear-gradient(to bottom, #fff, #ddd);
  border: #ddd 1px solid;
  padding: 6px 20px 7px;
  display: inline-block;
  line-height: 1.2em;
  cursor: pointer;
  min-width: 0;
  max-width: 300px;
  text-decoration: none;
  font-size: 14px;
}

.export-all-button{
  padding: 7px 2%;
  cursor: pointer;
  color: black;
}

a {

  &, &:link, &:visited, &:hover, &:active {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
}

.table-row {
  height: 60px;
}
