.overlay {
  z-index: 9999999999999;
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.6) url('/dhis-integration/dhis-integration/images/spinner.gif') no-repeat center center;
  top: 0;
  left: 0;
}